<div class="container">
  <h2 class="text-center bg-info">Number Crunch</h2>
  <form [formGroup]="crunchForm" (ngSubmit)='submit()'>
    <table style="width: 50%;">
      <tr>
        <td>Sample Max Count</td>
        <td>
          <input style="width: 100%;" type="text" placeholder="Enter Maximum Sample Count" formControlName="maxCount">
          <div class="text-danger" *ngIf="crunchForm.get('maxCount').dirty && crunchForm.get('maxCount').errors && crunchForm.get('maxCount').hasError('required')">Required</div>
          <div class="text-danger" *ngIf="crunchForm.get('maxCount').dirty && crunchForm.get('maxCount').errors && crunchForm.get('maxCount').hasError('min')">Min value is 1</div>
          <div class="text-danger" *ngIf="crunchForm.get('maxCount').dirty && crunchForm.get('maxCount').errors && crunchForm.get('maxCount').hasError('pattern')">Numbers Only</div>

        </td>
      </tr>
      <tr>
        <td>Patient Score</td>
        <td>
          <input style="width: 100%;" type="text" placeholder="Enter Patient Score" formControlName="patientScore">
          <div class="text-danger" *ngIf="crunchForm.get('patientScore').dirty && crunchForm.get('patientScore').errors && crunchForm.get('patientScore').hasError('required')">Required</div>
          <div class="text-danger" *ngIf="crunchForm.get('patientScore').dirty && crunchForm.get('patientScore').errors && crunchForm.get('patientScore').hasError('min')">Min value is 1</div>
          <div class="text-danger" *ngIf="crunchForm.get('patientScore').dirty && crunchForm.get('patientScore').errors && crunchForm.get('patientScore').hasError('pattern')">Numbers Only</div>

        </td>
      </tr>
      <tr>
        <td>Doctor Score</td>
        <td>
          <input style="width: 100%;" type="text" placeholder="Enter Doctor Score" formControlName="doctorScore">
          <div class="text-danger" *ngIf="crunchForm.get('doctorScore').dirty && crunchForm.get('doctorScore').errors && crunchForm.get('doctorScore').hasError('required')">Required</div>
          <div class="text-danger" *ngIf="crunchForm.get('doctorScore').dirty && crunchForm.get('doctorScore').errors && crunchForm.get('doctorScore').hasError('min')">Min value is 1</div>
          <div class="text-danger" *ngIf="crunchForm.get('doctorScore').dirty && crunchForm.get('doctorScore').errors && crunchForm.get('doctorScore').hasError('pattern')">Numbers Only</div>


        </td>
      </tr>
    </table>
    <div class="clearfix"></div>
  <br>
  <div class="text-center">
    <button class="btn btn-primary" type="submit"> Submit</button>
  </div>
  </form>
</div>

