<div class="container">
  <h2 class="text-center bg-info">Number Crunch</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light pt-2 pb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="model.selectedView">
      <option [value]="1">Default</option>
      <option [value]="2">Bordered</option>
      <option [value]="3">Simple</option>
    </select>
    </div>
      <div class="col-9">
        <form class="d-flex flex-row-reverse">
      <button class="btn btn-success" (click)='goBack()'>Go Back</button>
    </form>
    </div>
  </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <table [ngClass]="[model.selectedView == 2 ? 'table table-striped table-bordered': '' ,model.selectedView == 3 ? 'table table-bordered': '', model.selectedView == 1 ? 'table table-striped': '']">
        <thead [ngClass]="{'table-dark': model.selectedView == 3}">
          <tr>
            <th scope="col">Sample #</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of model.numberCrunchList" >
            <th scope="row">{{item.sampleNumber}}</th>
            <td>{{item.score}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2 class="text-center bg-info">My Message</h2>
      <div class="border">Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text
        ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not
        only five centuries, but also the leap into
        electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>




</div>

