/Experity.Infrastructure/obj/Debug/net5.0/Experity.Infrastructure.pdb
/Experity.Infrastructure/obj/Debug/net5.0/Experity.Infrastructure.pdb
/Experity.Infrastructure/obj/Debug/net5.0/Experity.Infrastructure.pdb
/Experity.Infrastructure/obj/Debug/net5.0/Experity.Infrastructure.pdb
/Experity.Business/bin/Debug/net5.0/Experity.Infrastructure.dll
/Experity.Business/bin/Debug/net5.0/Experity.Infrastructure.pdb
/ExperityClient/node_modules
